
body {
    background-color: antiquewhite;

    margin:0px;
    
    header{
        margin:0px;
    }
    footer {
        margin:0px;
    }

    :not(header, footer) {
        margin: 8px;
    }
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    color:midnightblue;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: cadetblue;
}