<link rel="stylesheet" href="static/css/footer-stylesheet.css">

<footer>
    <div class="footer-container">
        <div class="footer-logo-box">
            <img src="static/assets/logo-square-placeholder.png">
        </div>
        <div class="footer-text-frame">
            <ul >
                <li>Explore</li>
                <li>Available Items</li>
                <li>Trending Pages</li>
                <li>Best Sellers</li>
            </ul>
        </div>
        <div class="footer-text-frame">
            <ul>
                <li>Learn</li>
                <li>What's best for your body?</li>
                <li>Popular Posts</li>
            </ul>
        </div>
        <div class="footer-text-frame">
            <ul>
                <li>About Us</li>
                <li>Our Company</li>
                <li>Why Us?</li>
                <br>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</footer>
